/*==== Fonts ====*/

/*@font-face {
  font-family: RobotoSlab-Thin;
  src: url('../fonts/RobotoSlab-Thin.ttf');
}

@font-face {
  font-family: RobotoSlab-ExtraLight;
  src: url('../fonts/RobotoSlab-ExtraLight.ttf');
}

@font-face {
  font-family: RobotoSlab-Light;
  src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: RobotoSlab-Medium;
  src: url('../fonts/RobotoSlab-Medium.ttf');
}

@font-face {
  font-family: RobotoSlab-SemiBold;
  src: url('../fonts/RobotoSlab-SemiBold.ttf');
}

@font-face {
  font-family: RobotoSlab-Bold;
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: RobotoSlab-ExtraBold;
  src: url('../fonts/RobotoSlab-ExtraBold.ttf');
}

@font-face {
  font-family: RobotoSlab-Black;
  src: url('../fonts/RobotoSlab-Black.ttf');
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: Roboto Slab, serif;
}

/*==== Header ====*/
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: -webkit-transform 0.6s ease-in-out !important;
    transition: transform 0.6s ease-in-out !important;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out !important;
  }
}

header {
  background: url("../img/header/bg.jpg") no-repeat bottom;
  background-size: 100% 100%;
}

/* Slider */
.header-slider img {
  width: 300px;
}

.header-slider .carousel-indicators {
  position: static;
}

.header-slider .carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  position: static;
  margin: auto;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.header-slider .carousel-caption h5 {
  transition: 0.3s linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-slider .carousel-caption h5:hover {
  color: #d81a24;
}

/* Navbar */
#home {
  background-color: #d81a24;
}

.header {
  padding: 50px 0px;
}

.header-nav .nav-link {
  font-weight: 700;
  margin: 0 10px;
  color: #fff;
}

.header-nav .nav-link:hover {
  background-color: #d81a24;
}

.dropdown-menu {
  background-color: #151515;
}

.dropdown-item {
  font-weight: 200;
  color: #fff;
}

.dropdown-item:hover {
  color: #d81a24;
  background-color: #151515;
}