<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'libs/bootstrap/font-awesome.min.css' %}"> -->


    <link rel="stylesheet" href="{% static 'comics/css/styles.css' %}">
    <link rel="stylesheet" href="{% block CSS %}#{% endblock CSS %}">


    <title>{% block title %}ComicsMan{% endblock title %}</title>
  </head>
  <body>
    <div class="preloader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Загрузка...</span>
    </div>
  </div>
    <header >
      <div class="header">
        <div class="container">
          <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
            <div class="container">
              <a class="navbar-brand" href="{% url 'home'%}">
                <img class="img-brand" src="{% static 'comics/img/header/logo.png' %}" alt="logotype">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav nav-pills text-center">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home'%}" >Главная</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Каталог
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="a dropdown-item" href="{% url 'all_comics'%}">Все комиксы</a>
                      <a class="a dropdown-item" href="#">Популярное</a>
                      <a class="a dropdown-item" href="#">Рекомендации</a>
                      <a class="a dropdown-item" href="#">Случайное</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Новости</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">О нас</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">Контакты</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          {% block header_content %} Контент шапки {% endblock header_content%}
        </div>
      </div>
    </header>
    <main>
      <div class="main">
        {% block main %} Основной контент {% endblock main%}
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="container">
          <div class="footer-content">
            <div class="row">
              <div class="footer-brand text-center col-12">
                <a class="navbar-brand" href="{% url 'home'%}">
                  <img class="img-brand" src="{% static 'comics/img/header/logo.png' %}" alt="logotype">
                </a>
              </div>
              <ul class="social-networks mx-auto">
                <li><a class="a" href="//github.com/Notikay"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="a" href="//vk.com/notikay"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="a" href="//instagram.com/tonik_bis"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="a" href="//t.me/notikay"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="a" href="//youtube.com/channel/UCXXfur4BDjKMApZJL3x3uUQ/featured?view_as=subscriber"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="copyright text-center">
            <a class="a" href="//ru.freepik.com/photos/background">Background фото создан(а) freepik - ru.freepik.com</a>
            <p>© 2020 Библиотека комиксов ComicsMan. <a class="a" href="#">Карта сайта</a>.</p>
            <p>
              <a href="//jigsaw.w3.org/css-validator/check/referer">
                <img class="w3-css-validation" src="//jigsaw.w3.org/css-validator/images/vcss" alt="Правильный CSS!" />
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div id="btn-go-top">
      <i class="fa fa-chevron-up"></i>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'libs/jquery-3.5.1.min.js' %}"></script> -->
    <!-- <script src="{% static 'libs/popper.min.js' %}"></script> -->
    <!-- <script src="{% static 'libs/bootstrap/bootstrap.min.js' %}"></script> -->

    <!-- Optional JavaScript -->
    <script src="{% static 'comics/js/scripts.js' %}"></script>
  </body>
</html>