<!--TODO Инициализировать новости.-->
<!--TODO Добавить вкладку "Новости" в каталог.-->

{% extends '../index.html' %}
{% load static %}

{% block header_nav %}
<div class="header-nav">
  <nav class="navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="{% static 'comics/img/header/logo.png' %}" alt="logotype">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills text-center">
        <li class="nav-item active">
          <a href="#" class="nav-link">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Каталог
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Новинки</a>
            <a class="dropdown-item" href="#">Популярное</a>
            <a class="dropdown-item" href="#">Рекомендации</a>
            <a class="dropdown-item" href="#">Случайное</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">О нас</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock %}

{% block header_slider %}
<div class="header-slider">
  <div id="slider-medium" class="carousel slide d-none d-md-block" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in header_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="row justify-content-around">
            <div class="item">
              <a href="{{ slide.0.url }}"><img src="{{ slide.0.image.url }}" alt="{{ forloop.counter0 }} slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <a href="{{ slide.0.url }}"><h5>{{ slide.0.title }}</h5></a>
                <p>{{ slide.0.publisher.all.0 }}, {{ slide.0.country }}, {{ slide.0.date }}, {{ slide.0.genre.all.0 }}</p>
              </div>
            </div>
            {% if slide|length == 2 %}
              <div class="item">
                <a href="{{ slide.1.url }}"><img src="{{ slide.1.image.url }}" alt="{{ forloop.counter0 }} slide"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5><a href="{{ slide.1.url }}">{{ slide.1.title }}</a></h5>
                  <p>{{ slide.1.publisher.all.0 }}, {{ slide.1.country }}, {{ slide.1.date }}, {{ slide.1.genre.all.0 }}</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="indicators d-none d-md-block">
      <ol class="carousel-indicators">
        {% for slide in header_slider %}
            <li data-target="#slider-medium" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
    </div>
    <a class="carousel-control-prev" href="#slider-medium" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider-medium" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="slider-small" class="carousel slide d-md-none" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in header_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="item">
            <a href="{{ slide.0.url }}"><img src="{{ slide.0.image.url }}" alt="{{ forloop.counter0 }} slide"></a>
          </div>
        </div>
        {% if slide|length == 2 %}
          <div class="carousel-item text-center">
            <div class="item">
              <a href="{{ slide.1.url }}"><img src="{{ slide.1.image.url }}" alt="{{ forloop.counter0 }} slide"></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="indicators d-md-none">
      <ol class="carousel-indicators">
        {% for slide in header_slider_len %}
          <li data-target="#slider-small" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
    </div>
    <a class="carousel-control-prev" href="#slider-small" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slider-small" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}

{% block new_releases %}
<div class="new-releases">
  <h3>{{ date }}Новое</h3>
  <div class="card-deck">
    <div class="container">
      <div class="row d-flex justify-content-center row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for new_comics in new_rel %}
          <div class="col new-comics {% if forloop.counter0 > 2 %}d-none {% if forloop.counter0 < 6 %}d-md-block {% else %}d-xl-block{% endif %}{% endif %}">
            <div class="card mx-auto">
              <a href="{{ new_comics.url }}">
                <img src="{{ new_comics.image.url }}" class="card-img-top" alt="{{ forloop.counter0 }}">
              </a>
              <div class="card-body d-flex justify-content-center">
                  <h5 class="card-title align-self-center">
                    <a href="{{ new_comics.url }}">{{ new_comics.title }}</a>
                  </h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{ new_comics.date }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="view-all text-center">
    <a href="#">Посмотреть всё</a>
  </div>
</div>
{% endblock %}

{% block favorites %}
<div class="favorites">
  <h3>Избранное</h3>
  <div class="row">
    <div class="big-card card mx-auto col-md-12 col-lg-6">
      <div class="row justify-content-center no-gutters">
        <div class="col-md-6 col-lg-7">
          <a href="{{ favor_rel.0.url }}">
            <img src="{{ favor_rel.0.image.url }}" class="card-img" alt="0">
          </a>
        </div>
        <div class="col-md-6 col-lg-5 d-none d-md-block">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ favor_rel.0.url }}">{{ favor_rel.0.title }}</a>
            </h5>
            <p class="card-text">{{ favor_rel.0.description }}</p>
            <p class="card-text"><small class="text-muted">{{ favor_rel.0.date }}</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="small-card justify-content-center row col-md-12 col-lg-6">
      {% for favor_comics in favor_rel %}
        {% if forloop.first %}
        {% else %}
          <div class="text-center favorites-comics col-md-3 col-lg-4 {% if forloop.counter0 > 2 %}d-none d-md-block{% endif %}">
            <a href="{{ favor_comics.url }}">
              <img src="{{ favor_comics.image.url }}" class="card-img" alt="{{ forloop.counter0 }}">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block news %}
<div class="news-inner">
  <div class="row no-gutters">
    <div class="col-md-12 col-lg-6">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/imcuUriopWA" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Случай Чарльза Декстера Варда</a></h5>
        <p class="card-text d-none d-sm-block">
          В психиатрической лечебнице, в день и час таинственного исчезновения одного из пациентов,
          молодого человека по имени Чарльз Декстер Вард, который был помещён туда родителями за многочисленные
          физиологические и психические нарушения, неизвестные тогдашней науке.
          Чарльз имел необычную форму амнезии, он вдруг стал слабо ориентироваться в современной жизни,
          зато прекрасно разбирался в прошлом. Врачи отмечали, что за время болезни его тело изменилось:
          в сердечной деятельности появилась загадочная аритмия, исчезли узнаваемые родинки, но на груди
          появилось странное тёмное пятно, обмен веществ был замедлен, а ткани тела приобрели необычную грубость и рыхлость.
          Расследованием его случая занялся Маринус Бикнелл Виллет, врач семьи Вардов.</p>
        <p class="card-text"><strong>Ведущий: </strong>Г.Ф. Лавкрафт</p>
        <p class="card-text"><small class="text-muted">00.00.0000</small></p>
      </div>
    </div>
  </div>
</div>
<div class="view-all text-center">
  <a href="#">Все новости</a>
</div>
{% endblock %}