<!-- TODO: Переписать логику звёзд рейтинга. -->
<!-- TODO: Вынести звёзды рейтинга в отдельный блок. -->

{% extends '../index.html' %}
{% load static %}

{% block header_nav %}
<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">
      <img class="img-brand" src="{% static 'comics/img/header/logo.png' %}" alt="logotype">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills text-center">
        <li class="nav-item active">
          <a class="nav-link" href="" >Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Каталог
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="a dropdown-item" href="#">Новинки</a>
            <a class="a dropdown-item" href="#">Популярное</a>
            <a class="a dropdown-item" href="#">Рекомендации</a>
            <a class="a dropdown-item" href="#">Случайное</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Новости</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">О нас</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block comics_slider %}
<div class="comics-slider">
  <div class="carousel slide d-none d-md-block" id="header-slider-medium" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in header_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="row justify-content-around">
            <div class="item">
              <a href="{{ slide.0.url }}"><img class="cover-img" src="{{ slide.0.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="comics-slider-title hide-text"><a class="a" href="{{ slide.0.url }}">{{ slide.0.title }}</a></h5>
                <p class="comics-slider-desc hide-text">{{ slide.0.publisher.all.0 }}, {{ slide.0.country }}, {{ slide.0.date }}, {{ slide.0.genre.all.0 }}</p>
              </div>
            </div>
            {% if slide|length == 2 %}
              <div class="item">
                <a href="{{ slide.1.url }}"><img class="cover-img" src="{{ slide.1.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5><a class="a" href="{{ slide.1.url }}">{{ slide.1.title }}</a></h5>
                  <p>{{ slide.1.publisher.all.0 }}, {{ slide.1.country }}, {{ slide.1.date }}, {{ slide.1.genre.all.0 }}</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="indicators d-none d-md-block">
      <ol class="carousel-indicators">
        {% for slide in header_slider %}
            <li {% if forloop.first %}class="active"{% endif %} data-target="#header-slider-medium" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
      </ol>
    </div>
    <a class="carousel-control-prev" href="#header-slider-medium" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#header-slider-medium" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="carousel slide d-md-none" id="header-slider-small" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in header_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="item">
            <a href="{{ slide.0.url }}"><img class="cover-img" src="{{ slide.0.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
          </div>
        </div>
        {% if slide|length == 2 %}
          <div class="carousel-item text-center">
            <div class="item">
              <a href="{{ slide.1.url }}"><img class="cover-img" src="{{ slide.1.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="indicators d-md-none">
      <ol class="carousel-indicators">
        {% for slide in header_slider_len %}
          <li {% if forloop.first %}class="active"{% endif %} data-target="#header-slider-small" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
      </ol>
    </div>
    <a class="carousel-control-prev" href="#header-slider-small" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#header-slider-small" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}

{% block new_releases %}
<div class="new-releases section-inner">
  <h3 class="section-inner-headline">{{ date }}Новое</h3>
  <div class="comics-display card-deck">
    <div class="container">
      <div class="row d-flex justify-content-center row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {% for new_comics in new_rel %}
          <div class="new-comics col {% if forloop.counter0 > 2 %}d-none {% if forloop.counter0 < 6 %}d-md-block {% else %}d-xl-block{% endif %}{% endif %}">
            <div class="comics card mx-auto">
              <div class="comics-img text-center">
                <a href="{{ new_comics.url }}">
                  <img class="cover-img card-img-top" src="{{ new_comics.image.url }}" alt="{{ forloop.counter0 }} new comics">
                </a>
              </div>
              <div class="comics-body card-body d-flex justify-content-center">
                  <h5 class="comics-title card-title text-center">
                    <a class="a" href="{{ new_comics.url }}">{{ new_comics.title }}</a>
                  </h5>
              </div>
              <div class="comics-footer card-footer text-center">
                <hr class="comics-footer-hr">
                <ul class="stars">
                  {% for key, value in rating_dict.items %}
                    {% if new_comics.title == key%}
                      {% for star in stars %}
                        {% if value.2 == 0 %}
                          <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        {% elif forloop.counter <= value.2 %}
                          <li><span class="active fa fa-star" aria-hidden="true"></span></li>
                        {% else %}
                          <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
                <hr class="comics-footer-hr">
                <small class="text-muted">{{ new_comics.date }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="click-btn">
    <div class="form-btn">
      <a class="a-btn" href="#">Посмотреть всё</a>
    </div>
  </div>
</div>
{% endblock %}

{% block favorites %}
<div class="favorites section-inner">
  <h3 class="section-inner-headline">Избранное</h3>
  <div class="row">
    <div class="big-card comics card mx-auto col-md-12 col-lg-6">
      <div class="row no-gutters">
        <div class="comics-img col-md-6 col-lg-7 text-center">
          <a href="{{ favor_rel.0.url }}">
            <img class="cover-img card-img" src="{{ favor_rel.0.image.url }}" alt="0 new comics">
          </a>
        </div>
        <div class="comics-body card-body col-md-6 col-lg-5 d-none d-md-block">
          <h5 class="comics-title card-title">
            <a class="a" href="{{ favor_rel.0.url }}">{{ favor_rel.0.title }}</a>
          </h5>
          <p class="hide-text card-text">{{ favor_rel.0.description }}</p>
          <ul class="stars">
            {% for key, value in rating_dict.items %}
              {% if favor_rel.0.title == key%}
                {% for star in stars %}
                  {% if value.2 == 0 %}
                    <li><span class="fa fa-star fa-2x" aria-hidden="true"></span></li>
                  {% elif forloop.counter <= value.2 %}
                    <li><span class="active fa fa-star fa-2x" aria-hidden="true"></span></li>
                  {% else %}
                    <li><span class="fa fa-star fa-2x" aria-hidden="true"></span></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
          <p class="card-text"><small class="text-muted">{{ favor_rel.0.date }}</small></p>
        </div>
      </div>
    </div>
    <div class="small-card justify-content-center row col-md-12 col-lg-6">
      {% for favor_comics in favor_rel %}
        {% if forloop.first %}
        {% else %}
          <div class="comics card col-md-3 col-lg-4 {% if forloop.counter0 > 2 %}d-none d-md-block{% endif %}">
            <div class="comics-img text-center">
              <a href="{{ favor_comics.url }}">
                <img class="cover-img card-img" src="{{ favor_comics.image.url }}" alt="{{ forloop.counter0 }} favorite comics">
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block news %}
<div class="section-inner">
  <div class="row no-gutters">
    <div class="col-md-12 col-lg-6">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ news.id_video }}" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card-body">
        <h5 class="card-title"><a class="a" href="#">{{ news.headline }}</a></h5>
        <p class="card-text d-none d-sm-block">{{ news.description }}</p>
        <p class="card-text"><strong>Ведущий: </strong>{{ news.showman }}</p>
        <p class="card-text"><small class="text-muted">{{ news.date }}</small></p>
      </div>
    </div>
  </div>
  <div class="click-btn">
    <div class="form-btn">
      <a class="a-btn" href="#">Все новости</a>
    </div>
  </div>
</div>
{% endblock %}

{% block marvel-dc %}
<div class="section-inner">
  <div class="row justify-content-around">
    <div class="click-img text-center col-7 col-sm-5">
      <a href="#">
        <img class="rounded" src="{% static 'comics/img/main/marvel-logo.jpg' %}" alt="marvel logo">
      </a>
    </div>
    <div class="click-img text-center col-7 col-sm-5">
      <a href="#">
        <img class="rounded" src="{% static 'comics/img/main/dc-logo.jpg' %}" alt="dc logo">
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block newsletter %}
<div class="section-inner row justify-content-center">
  <div class="col-9 col-sm-12 col-md-8 col-lg-7">
    <p class="text-center">
      Введите свой адрес электронной почты, чтобы получать все новости,
      обновления о новых релизах, и другую важную информацию.
    </p>
    <form class="form-inline justify-content-center">
      <input class="input-form col-12 col-sm-7" type="email" placeholder="Ваш e-mail...">
      <button class="btn-form col-12 col-sm-4" type="submit">Подписаться</button>
    </form>
  </div>
</div>
{% endblock %}

{% block testimonials %}
<div class="section-inner">
  <div class="carousel slide d-none d-md-block" id="testimonials-slider-medium" data-ride="carousel">
    <div class="carousel-inner">
      {% for review in reviews_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="row justify-content-around">
            <div class="item col-5">
              <h5 class="review-name">{{ review.0.name }}</h5>
              <div class="item-text mx-auto">
                <blockquote class="blockquote">
                  <p class="hide-text lead mb-0">"{{ review.0.text }}"</p>
                  <cite class="blockquote-footer text-right" title="Название источника">
                    <a class="a" href="{{ review.0.comics.url }}">{{ review.0.comics }}</a>
                  </cite>
                </blockquote>
              </div>
            </div>
            {% if review|length == 2 %}
              <div class="item col-5">
                <h5 class="review-name">{{ review.1.name }}</h5>
                <div class="item-text mx-auto">
                  <blockquote class="blockquote">
                    <p class="hide-text lead mb-0">"{{ review.1.text }}"</p>
                    <cite class="blockquote-footer text-right" title="Название источника">
                      <a class="a" href="{{ review.1.comics.url }}">{{ review.1.comics }}</a>
                    </cite>
                  </blockquote>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="indicators d-none d-md-block">
      <ol class="carousel-indicators">
        {% for review in reviews_slider %}
            <li {% if forloop.first %}class="active"{% endif %} data-target="#testimonials-slider-medium" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="carousel slide d-md-none" id="testimonials-slider-small" data-ride="carousel">
    <div class="carousel-inner">
      {% for review in reviews_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="item">
            <h5 class="review-name">{{ review.0.name }}</h5>
            <div class="item-text mx-auto">
              <blockquote class="blockquote">
                <p class="hide-text lead mb-0">"{{ review.0.text }}"</p>
                <cite class="blockquote-footer text-right" title="Название источника">
                  <a class="a" href="{{ review.0.comics.url }}">{{ review.0.comics }}</a>
                </cite>
              </blockquote>
            </div>
          </div>
        </div>
        {% if review|length == 2 %}
          <div class="carousel-item text-center">
            <div class="item">
              <h5 class="review-name">{{ review.1.name }}</h5>
              <div class="item-text mx-auto">
                <blockquote class="blockquote">
                  <p class="hide-text lead mb-0">"{{ review.1.text }}"</p>
                  <cite class="blockquote-footer text-right" title="Название источника">
                    <a class="a" href="{{ review.1.comics.url }}">{{ review.1.comics }}</a>
                  </cite>
                </blockquote>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="indicators d-md-none">
      <ol class="carousel-indicators">
        {% for slide in reviews_slider_len %}
          <li {% if forloop.first %}class="active"{% endif %} data-target="#testimonials-slider-small" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_content %}
<div class="footer-content">
  <div class="row">
    <div class="footer-brand text-center col-12">
      <a class="navbar-brand" href="">
        <img class="img-brand" src="{% static 'comics/img/header/logo.png' %}" alt="logotype">
      </a>
    </div>
    <ul class="social-networks mx-auto">
      <li><a class="a" href="//github.com/Notikay"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
      <li><a class="a" href="//vk.com/notikay"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a></li>
      <li><a class="a" href="//instagram.com/tonik_bis"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      <li><a class="a" href="//t.me/notikay"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a></li>
      <li><a class="a" href="//youtube.com/channel/UCXXfur4BDjKMApZJL3x3uUQ/featured?view_as=subscriber"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block footer_copyright %}
<div class="copyright text-center">
  <a class="a" href="//ru.freepik.com/photos/background">Background фото создан(а) freepik - ru.freepik.com</a>
  <p>© 2020 Библиотека комиксов ComicsMan. <a class="a" href="#">Карта сайта</a>.</p>
  <p>
    <a href="//jigsaw.w3.org/css-validator/check/referer">
      <img class="w3-css-validation" src="//jigsaw.w3.org/css-validator/images/vcss" alt="Правильный CSS!" />
    </a>
  </p>
</div>
{% endblock %}