{% extends 'comics/index.html' %}
{% load static %}

{% block title %}ComicsMan{% endblock title %}

{% block CSS %}{% static 'comics/css/home.css' %}{% endblock CSS %}

{% block header_content %}
<div class="comics-slider">
  <div class="carousel slide d-none d-md-block" id="header-slider-medium" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in header_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="row justify-content-around">
            <div class="item">
              <a href="{{ slide.0.url }}"><img class="cover-img" src="{{ slide.0.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="comics-slider-title hide-text"><a class="a" href="{{ slide.0.url }}">{{ slide.0.title }}</a></h5>
                <p class="comics-slider-desc hide-text">{{ slide.0.publisher.all.0 }}, {{ slide.0.country }}, {{ slide.0.date }}, {{ slide.0.genre.all.0 }}</p>
              </div>
            </div>
            {% if slide|length == 2 %}
              <div class="item">
                <a href="{{ slide.1.url }}"><img class="cover-img" src="{{ slide.1.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
                <div class="carousel-caption d-none d-md-block">
                  <h5><a class="a" href="{{ slide.1.url }}">{{ slide.1.title }}</a></h5>
                  <p>{{ slide.1.publisher.all.0 }}, {{ slide.1.country }}, {{ slide.1.date }}, {{ slide.1.genre.all.0 }}</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="indicators d-none d-md-block">
      <ol class="carousel-indicators">
        {% for slide in header_slider %}
            <li {% if forloop.first %}class="active"{% endif %} data-target="#header-slider-medium" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
      </ol>
    </div>
    <a class="carousel-control-prev" href="#header-slider-medium" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#header-slider-medium" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="carousel slide d-md-none" id="header-slider-small" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in header_slider %}
        <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
          <div class="item">
            <a href="{{ slide.0.url }}"><img class="cover-img" src="{{ slide.0.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
          </div>
        </div>
        {% if slide|length == 2 %}
          <div class="carousel-item text-center">
            <div class="item">
              <a href="{{ slide.1.url }}"><img class="cover-img" src="{{ slide.1.image.url }}" alt="{{ forloop.counter0 }} slider item"></a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="indicators d-md-none">
      <ol class="carousel-indicators">
        {% for slide in header_slider_len %}
          <li {% if forloop.first %}class="active"{% endif %} data-target="#header-slider-small" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
      </ol>
    </div>
    <a class="carousel-control-prev" href="#header-slider-small" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#header-slider-small" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock header_content %}

{% block main %}
<section class="filters">
  <div class="container">
    <h2 class="section-headline">Что почитать?</h2>
    <hr class="hr">
    <div class="new-releases section-inner">
      <h3 class="section-inner-headline">{{ date }}Новое</h3>
      <div class="comics-display card-deck">
        <div class="container">
          <div class="row d-flex justify-content-center row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for new_comics in new_rel %}
              <div class="showcase col {% if forloop.counter0 > 2 %}d-none {% if forloop.counter0 < 6 %}d-md-block {% else %}d-xl-block{% endif %}{% endif %}">
                <div class="comics card mx-auto">
                  <div class="comics-img text-center">
                    <a href="{{ new_comics.url }}">
                      <img class="cover-img card-img-top" src="{{ new_comics.image.url }}" alt="{{ forloop.counter0 }} new comics">
                    </a>
                  </div>
                  <div class="comics-body card-body d-flex justify-content-center">
                      <h5 class="comics-title card-title text-center">
                        <a class="a" href="{{ new_comics.url }}">{{ new_comics.title }}</a>
                      </h5>
                  </div>
                  <div class="comics-footer card-footer text-center">
                    <hr class="comics-footer-hr">
                    <ul class="stars">
                      {% for key, value in rating_dict.items %}
                        {% if new_comics.title == key %}
                          {% for star in stars %}
                            <li><span class="{% if value.2 != 0 and forloop.counter <= value.2%}active{% endif %} fa fa-star" aria-hidden="true"></span></li>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </ul>
                    <hr class="comics-footer-hr">
                    <small class="text-muted">{{ new_comics.date }}</small>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="click-btn">
        <div class="form-btn">
          <a class="a-btn" href="{% url 'all_comics'%}">Все комиксы</a>
        </div>
      </div>
    </div>
    <div class="favorites section-inner">
      <h3 class="section-inner-headline">Избранное</h3>
      <div class="row">
        <div class="big-card comics card mx-auto col-md-12 col-lg-6 d-none d-md-block">
          <div class="row no-gutters">
            <div class="comics-img col-md-6 col-lg-7 text-center">
              <a href="{{ favor_rel.0.comics.all.0.url }}">
                <img class="cover-img card-img" src="{{ favor_rel.0.comics.all.0.image.url }}" alt="0 new comics">
              </a>
            </div>
            <div class="comics-body card-body col-md-6 col-lg-5 d-none d-md-block">
              <h5 class="comics-title card-title">
                <a class="a" href="{{favor_rel.0.comics.all.0.url }}">{{ favor_rel.0.comics.all.0.title }}</a>
              </h5>
              <p class="hide-text card-text">{{ favor_rel.0.comics.all.0.description }}</p>
              <ul class="stars">
                {% for key, value in rating_dict.items %}
                  {% if favor_rel.0.comics.all.0.title == key%}
                    {% for star in stars %}
                      <li><span class="{% if value.2 != 0 and forloop.counter <= value.2%}active{% endif %} fa fa-star fa-2x" aria-hidden="true"></span></li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
              <p class="card-text"><small class="text-muted">{{ favor_rel.0.date }}</small></p>
            </div>
          </div>
        </div>
        <div class="small-card justify-content-center row col-md-12 col-lg-6">
          {% for favor_comics in favor_rel.0.comics.all %}
            <div class="comics card col-md-3 col-lg-4 {% if forloop.first %}d-md-none{% endif %} {% if forloop.counter0 > 2 %}d-none d-md-block{% endif %}">
              <div class="comics-img text-center">
                <a href="{{ favor_comics.url }}">
                  <img class="cover-img card-img" src="{{ favor_comics.image.url }}" alt="{{ forloop.counter0 }} favorite comics">
                </a>
              </div>
              <div class="comics-body card-body d-md-none d-flex justify-content-center">
                <h5 class="comics-title card-title text-center">
                  <a class="a" href="{{ favor_comics.url }}">{{ favor_comics.title }}</a>
                </h5>
              </div>
              <div class="comics-footer card-footer d-md-none text-center">
                <hr class="comics-footer-hr">
                <ul class="stars">
                  {% for key, value in rating_dict.items %}
                    {% if favor_comics.title == key %}
                      {% for star in stars %}
                        <li><span class="{% if value.2 != 0 and forloop.counter <= value.2%}active{% endif %} fa fa-star" aria-hidden="true"></span></li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
                <hr class="comics-footer-hr">
                <small class="text-muted">{{ favor_comics.date }}</small>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="news">
  <div class="container">
    <h2 class="section-headline">Новости</h2>
    <hr class="hr">
    <div class="section-inner">
      <div class="row no-gutters">
        <div class="col-md-12 col-lg-6">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ news.id_video }}" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card-body">
            <h5 class="card-title"><a class="a" href="#">{{ news.headline }}</a></h5>
            <p class="card-text d-none d-sm-block">{{ news.description }}</p>
            <p class="card-text"><strong>Ведущий: </strong>{{ news.showman }}</p>
            <p class="card-text"><small class="text-muted">{{ news.date }}</small></p>
          </div>
        </div>
      </div>
      <div class="click-btn">
        <div class="form-btn">
          <a class="a-btn" href="#">Все новости</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="marvel-dc">
  <div class="container">
    <h2 class="section-headline">Выбор за тобой!</h2>
    <hr class="hr">
    <div class="section-inner">
      <div class="row justify-content-around">
        <div class="click-img text-center col-7 col-sm-5">
          <a href="#">
            <img class="rounded" src="{% static 'comics/img/main/marvel-logo.jpg' %}" alt="marvel logo">
          </a>
        </div>
        <div class="click-img text-center col-7 col-sm-5">
          <a href="#">
            <img class="rounded" src="{% static 'comics/img/main/dc-logo.jpg' %}" alt="dc logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="newsletter">
  <div class="container">
    <h2 class="section-headline">Новостная рассылка</h2>
    <hr class="hr">
    <div class="section-inner row justify-content-center">
      <div class="col-9 col-sm-12 col-md-8 col-lg-7">
        <p class="text-center">
          Введите свой адрес электронной почты, чтобы получать все новости,
          обновления о новых релизах, и другую важную информацию.
        </p>
        <form class="form-inline justify-content-center">
          <input class="input-form col-12 col-sm-7" type="email" placeholder="Ваш e-mail...">
          <button class="btn-form col-12 col-sm-4" type="submit">Подписаться</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="container">
    <h2 class="section-headline">Отзывы</h2>
    <hr class="hr">
    <div class="section-inner">
      <div class="carousel slide d-none d-md-block" id="testimonials-slider-medium" data-ride="carousel">
        <div class="carousel-inner">
          {% for review in reviews_slider %}
            <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-around">
                <div class="item col-5">
                  <h5 class="review-name">{{ review.0.name }}</h5>
                  <div class="item-text mx-auto">
                    <blockquote class="blockquote">
                      <p class="hide-text lead mb-0">"{{ review.0.text }}"</p>
                      <cite class="blockquote-footer text-right" title="Название источника">
                        <a class="a" href="{{ review.0.comics.url }}">{{ review.0.comics.title }}</a>
                      </cite>
                    </blockquote>
                  </div>
                </div>
                {% if review|length == 2 %}
                  <div class="item col-5">
                    <h5 class="review-name">{{ review.1.name }}</h5>
                    <div class="item-text mx-auto">
                      <blockquote class="blockquote">
                        <p class="hide-text lead mb-0">"{{ review.1.text }}"</p>
                        <cite class="blockquote-footer text-right" title="Название источника">
                          <a class="a" href="{{ review.1.comics.url }}">{{ review.1.comics.title }}</a>
                        </cite>
                      </blockquote>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="indicators d-none d-md-block">
          <ol class="carousel-indicators">
            {% for review in reviews_slider %}
                <li {% if forloop.first %}class="active"{% endif %} data-target="#testimonials-slider-medium" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endfor %}
          </ol>
        </div>
      </div>
      <div class="carousel slide d-md-none" id="testimonials-slider-small" data-ride="carousel">
        <div class="carousel-inner">
          {% for review in reviews_slider %}
            <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
              <div class="item">
                <h5 class="review-name">{{ review.0.name }}</h5>
                <div class="item-text mx-auto">
                  <blockquote class="blockquote">
                    <p class="hide-text lead mb-0">"{{ review.0.text }}"</p>
                    <cite class="blockquote-footer text-right" title="Название источника">
                      <a class="a" href="{{ review.0.comics.url }}">{{ review.0.comics }}</a>
                    </cite>
                  </blockquote>
                </div>
              </div>
            </div>
            {% if review|length == 2 %}
              <div class="carousel-item text-center">
                <div class="item">
                  <h5 class="review-name">{{ review.1.name }}</h5>
                  <div class="item-text mx-auto">
                    <blockquote class="blockquote">
                      <p class="hide-text lead mb-0">"{{ review.1.text }}"</p>
                      <cite class="blockquote-footer text-right" title="Название источника">
                        <a class="a" href="{{ review.1.comics.url }}">{{ review.1.comics }}</a>
                      </cite>
                    </blockquote>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="indicators d-md-none">
          <ol class="carousel-indicators">
            {% for slide in reviews_slider_len %}
              <li {% if forloop.first %}class="active"{% endif %} data-target="#testimonials-slider-small" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}